
/* @import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css'); */

/* standard @import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'); */


/* @import url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css'); */

.vis-item.orange {
    background-color: gold;
    border-color: orange;
  }
  .vis-item.vis-selected.orange {
    /* custom colors for selected orange items */
    background-color: orange;
    border-color: orangered;
  }

  .vis-item.red {
    background-color: red;
    border-color: red;
  }
  .vis-item.vis-selected.red {
    /* custom colors for selected orange items */
    background-color: orange;
    border-color: orangered;
  }

  .robclass1 {
    background-color: #FFFF00
  }

  .robclass2 {
    font-weight: 300;
    font-size: 16px;
  }